services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

    
  api:
    build: ./api
    ports:
      - "3000:3000"
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis

  worker:
    build: ./worker
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis